.content-main-container {
  height: 90vh;
  padding: 24px;
  padding-top: 0px;
  overflow: auto;
}

.movie-items-ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  padding: 0px;
}

.movie-items-li {
  list-style: none;
  background: #eee;
  border: 1px solid #999;
}
.movie-items-li > img {
  width: 100%;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}